@using Microsoft.AspNetCore.Identity
@model Restaurant.ViewModels.ChangeRoleViewModel

<div class="card col-md-6 px-0 shadow m-0 ml-auto mr-auto flex-column mt-5 shadow">
    <div class="h3 card-header bg-lightred py-4 text-center" style="color: white">
        Изменение роли пользователя
    </div>
    <form asp-action="Edit" method="post">
        <div align="center" class="h5 my-3">Пользователь: @Model.UserEmail</div>
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="col-sm-7 px-0 mx-auto mb-5">
            <div class="form-group mx-5">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    if (role.Name != "admin")
                    {
                        <input class="mb-3" type="radio" name="roles" value="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                        }
                    }
            </div>
        </div>
            <div class="card-footer d-flex justify-content-center pt-3 pb-4">
                <button class="btn btn-common mx-1" type="submit">Сохранить</button>
            </div>
    </form>
</div>
<a class="nav-link text-center text-dark h5 mt-4" asp-action="UserList"><u>Отмена</u></a>
