@model IEnumerable<Restaurant.Models.Data.Table>
@{
    DateTime date = Convert.ToDateTime(ViewData["Date"]);

    int persons = Convert.ToInt32(ViewData["Persons"]);
}
<div class="my-3 px-2" id="menu">
    <div class="row col-md mx-0 d-flex justify-content-center" style="min-height:60px; max-height:180px">

        <div class="col-sm row align-middle arrow mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-b text-center">
                1
            </div>
            <div class="h3 m-0 col align-middle">
                Выбор даты
            </div>
        </div>

        <div class="col-sm row arrow-active align-middle mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-bw text-center">
                2
            </div>
            <div class="h3 m-0 col align-middle">
                Выбор стола
            </div>
        </div>

        <div class="col-sm row arrow align-middle mx-1 d-flex align-items-center">
            <div class="h4 col-1 p-0 m-0 circle-b text-center">
                3
            </div>
            <div class="h3 m-0 col align-middle">
                Финал
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container mt-3">
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <a data-ajax="true"
               data-ajax-update="#steplayout"
               data-ajax-mode="replace"
               class="text-dark"
               href="@Url.Action("Step1","Booking")"><u>Вернуться к выбору даты</u></a>
        </div>
        <div class="col-md">
            <div class="col-sm">Столы на: @date</div>
            <div class="col-sm">Гостей: @persons</div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1035.74798 1047.00502">
        <g>
            <rect x="454" y="444.00502" width="50" height="3" style="fill:gray" />
            <circle cx="890" cy="838.00502" r="132" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:8px" />
            <path d="M806,31" transform="translate(-287 -1.99498)" />
            <rect x="454" y="444.00502" width="50" height="201" style="fill:gray" />
            <rect x="330" y="677.00502" width="93" height="49" style="fill:gray" />
            <rect x="675.50468" y="644.63515" width="114.5513" height="50.29037" transform="translate(-545.97982 712.33324) rotate(-45.00001)" style="fill:gray" />
            <rect x="454" y="444.00502" width="3" height="180" />
            <rect x="501" y="444.00502" width="3" height="201" />
            <rect x="454" y="444.00502" width="50" height="3" />
            <rect x="330" y="677.00502" width="71" height="3" />
            <rect x="330" y="723.00502" width="93" height="3" />
            <rect x="330" y="677.00502" width="3" height="49" />
            <rect x="675.40202" y="651.5" width="79.19596" height="3" transform="translate(-539.32208 694.84565) rotate(-45)" />
            <rect x="692.22435" y="685" width="114.5513" height="3" transform="translate(-552.90534 729.05275) rotate(-45)" />
            <rect x="2" y="713.00502" width="190" height="7" />
            <rect y="713.00502" width="15" height="334" />
            <rect y="1032.00502" width="430" height="15" />
            <rect x="7" y="872.50502" width="159" height="7" />
            <rect x="162" y="717.00502" width="7" height="47" />
            <rect x="162" y="828.00502" width="7" height="95" />
            <rect x="428.5" y="1032.00502" width="290" height="15" />
            <rect x="162" y="986.00502" width="7" height="58" />
            <rect x="705" y="916.00502" width="15" height="131" />
            <rect x="705" y="915.00502" width="93" height="15" />
            <rect x="805" y="906.00502" width="45" height="7" />
            <path d="M1096,918" transform="translate(-287 -1.99498)" />
            <path d="M1096,908" transform="translate(-287 -1.99498)" />
            <path d="M1096,908" transform="translate(-287 -1.99498)" />
            <rect x="323" y="638.00502" width="7" height="82" />
            <rect x="323" y="601.00502" width="7" height="37" />
            <rect x="323" y="600.00502" width="64" height="7" />
            <rect x="380" y="437.00502" width="7" height="170" />
            <rect x="380" y="437.00502" width="73" height="7" />
            <rect x="453" y="437.00502" width="29" height="7" />
            <rect x="475" y="383.00502" width="7" height="61" />
            <rect x="475" y="34.00502" width="7" height="169" />
            <rect x="475" y="234.00502" width="7" height="118" />
            <rect x="526" y="41.00502" width="7" height="148" />
            <rect x="526" y="182.00502" width="129" height="7" />
            <rect x="711" y="182.00502" width="147" height="7" />
            <rect x="647.5" y="104.00502" width="7" height="47" />
            <rect x="711" y="142.00502" width="7" height="47" />
            <rect x="648" y="103.50502" width="70" height="7" />
            <rect x="519" y="29.00502" width="347" height="15" />
            <rect x="851" y="29.00502" width="15" height="113" />
            <rect x="851" y="115.00502" width="163" height="15" />
            <rect x="999" y="115.00502" width="15" height="619" />
            <rect x="967" y="719.00502" width="47" height="15" />
            <rect x="967" y="719.00502" width="11" height="36" />
            <path d="M1253,798h-7V762h7Z" transform="translate(-287 -1.99498)" />
            <path d="M1250.97488,766.97488l-4.94975-4.94975,10.5-10.5,4.94975,4.94975Z" transform="translate(-287 -1.99498)" />
            <path d="M1084.97488,924.97488l-4.94975-4.94975,12-12,4.94975,4.94975Z" transform="translate(-287 -1.99498)" />
            <rect x="683" y="261.00502" width="112" height="15" />
            <rect x="664" y="661.50502" width="149" height="30" />
            <rect x="735" y="261.00502" width="8" height="412" />
            <rect x="283" y="884.00502" width="311" height="8" />
            <rect x="851" y="114.00502" width="7" height="177" />
            <rect x="682.5" y="36.00502" width="7" height="73" />
            <rect x="475" y="29.00502" width="13" height="15" />
            <rect x="1078.56159" y="783.22991" width="87" height="10.93669" transform="translate(-516.04965 1022.42676) rotate(-45)" />
            <rect x="1072.981" y="928.47578" width="40.54944" height="20" transform="translate(615.5167 -491.65206) rotate(41.74914)" />
            <rect x="1256.1673" y="740.82941" width="34" height="18.18081" transform="translate(671.86527 -695.87187) rotate(47.21992)" />
            <rect x="1255.77449" y="925.1755" width="28" height="24.1514" transform="translate(-587.48051 1093.57967) rotate(-42.18941)" />
            <rect x="1179.03334" y="960.99893" width="24" height="23.03943" transform="translate(-346.93025 76.4079) rotate(-3.67782)" />
            <rect x="1298.03334" y="848.99893" width="24" height="23.03943" transform="translate(-229.06737 -84.30373) rotate(3.68)" />
            <rect x="696" y="906.00502" width="24" height="24" />
            <rect x="696" y="1023.00502" width="24" height="24" />
            <rect x="990" y="710.00502" width="24" height="24" />
            <rect x="815" y="701.00502" width="152" height="50" style="fill:#fff" />
            <rect x="731" y="760.00502" width="64" height="155" style="fill:#fff" />
            <rect x="751" y="716.00502" width="64" height="57" style="fill:#fff" />
            <path d="M1202,960q10.08728-4.23963,20.47-8.434,8.32251-3.36054,16.53-6.566,5.00005,9,10,18-22.5,10-45,20Q1203.00006,971.5,1202,960Z" transform="translate(-287 -1.99498)" style="fill:#fff" />
            <path d="M1248,936" transform="translate(-287 -1.99498)" style="fill:#fff" />
            <path d="M1297,871q-7.5,18.5-15,37,9.99995,7,20,14,9.50005-24.5,19-49Q1309,872,1297,871Z" transform="translate(-287 -1.99498)" style="fill:#fff" />
            <rect x="153" y="864.00502" width="24" height="24" />
            <rect x="154" y="1020.00502" width="24" height="24" />
            <rect x="154" y="713.00502" width="24" height="16" />
            <rect x="987" y="118.00502" width="24" height="24" />
            <rect x="1199.07987" y="976.53305" width="45.18956" height="4" transform="translate(107.57632 -352.34275) rotate(19.40786)" />
            <path d="M1243.5,984.5A45.44116,45.44116,0,0,0,1246,956" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="1291.54305" y="889.62793" width="45.18956" height="4" transform="translate(1535.08552 -615.00911) rotate(74.49756)" />
            <path d="M1318.60441,913.809a45.4412,45.4412,0,0,1-28.60409.55307" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="758" y="16" width="31" height="3" transform="translate(469 789.00502) rotate(-90)" />
            <path d="M806.5,32.5a32.42352,32.42352,0,0,0-33-30" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="968" y="144" width="31" height="3" transform="translate(1680 289.00502) rotate(180)" />
            <path d="M998.5,112.5a32.42352,32.42352,0,0,0-30,33" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="654" y="182.00502" width="31" height="3" />
            <path d="M941.5,152.5a32.42352,32.42352,0,0,1,30,33" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="727" y="559.00502" width="24" height="24" />
            <rect x="727" y="444.00502" width="24" height="24" />
            <rect x="727" y="327.00502" width="24" height="24" />
            <rect x="727" y="271.00502" width="5" height="401" />
            <rect x="746" y="270.00502" width="5" height="401" />
            <rect x="308" y="713.00502" width="22" height="7" />
            <polygon points="244.014 695.832 188.033 714.527 189.68 718.949 245.661 700.254 244.014 695.832" />
            <path d="M532.47275,701.8446a48.24957,48.24957,0,0,1,4.25419,15.85263,49.22122,49.22122,0,0,1-1.65421,17.72567" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <polygon points="255.945 736.428 311.925 717.733 310.278 713.311 254.297 732.006 255.945 736.428" />
            <path d="M541.48537,734.40483a48.24955,48.24955,0,0,1-4.2542-15.85263,49.22151,49.22151,0,0,1,1.65421-17.72568" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="478" y="383.00502" width="31" height="3" />
            <path d="M765.5,353.5a32.42352,32.42352,0,0,1,30,33" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="475" y="234.00502" width="31" height="3" />
            <path d="M762.5,204.5a32.42352,32.42352,0,0,1,30,33" transform="translate(-287 -1.99498)" style="fill:none;stroke:#000;stroke-miterlimit:10" />
            <rect x="715" y="811.00502" width="93" height="10" />
            <rect x="696" y="804.00502" width="24" height="24" />
            <rect x="851" y="285.00502" width="53" height="7" />
            <rect x="958" y="285.00502" width="56" height="7" />
            <rect x="586" y="1035.00502" width="100" height="10" style="fill:#fff" />
            <rect x="386" y="1035.00502" width="100" height="10" style="fill:#fff" />
            <rect x="186" y="1035.00502" width="100" height="10" style="fill:#fff" />
            <rect x="1001" y="502.00502" width="10" height="100" style="fill:#fff" />
            <rect x="1001" y="302.00502" width="10" height="100" style="fill:#fff" />
            <rect x="173" y="1038.50502" width="517" height="4" />
            <rect x="1004" y="275.00502" width="4" height="333" />
            <rect x="287" y="986.00502" width="30" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M619,1026.80531l-15,3.60979v-17.44734l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M558.99994,1026.80528l15,3.60979v-17.44734l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M619,1003.94327l-15,3.60979V990.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M559,1003.94324l15,3.60979V990.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="355" y="986.00502" width="30" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M687,1026.80531l-15,3.60979v-17.44734l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M626.99994,1026.80528l15,3.60979v-17.44734l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M687,1003.94327l-15,3.60979V990.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M627,1003.94324l15,3.60979V990.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="452" y="986.00502" width="30" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M784,1026.80531l-15,3.60979v-17.44734l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M723.99994,1026.80528l15,3.60979v-17.44734l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M784,1003.94327l-15,3.60979V990.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M724,1003.94324l15,3.60979V990.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="521" y="986.00502" width="30" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M853,1026.80531l-15,3.60979v-17.44734l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M792.99994,1026.80528l15,3.60979v-17.44734l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M853,1003.94327l-15,3.60979V990.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M793,1003.94324l15,3.60979V990.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="590" y="986.00502" width="30" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M922,1026.80531l-15,3.60979v-17.44734l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M861.99994,1026.80528l15,3.60979v-17.44734l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M922,1003.94327l-15,3.60979V990.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862,1003.94324l15,3.60979V990.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="298" y="781.00502" width="30" height="30" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630,802.94327l-15,3.60979V789.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M570,802.94324l15,3.60979V789.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="368" y="781.00502" width="30" height="30" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M700,802.94327l-15,3.60979V789.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M640,802.94324l15,3.60979V789.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="435" y="781.00502" width="30" height="30" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M767,802.94327l-15,3.60979V789.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M707,802.94324l15,3.60979V789.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="503" y="781.00502" width="30" height="30" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M835,802.94327l-15,3.60979V789.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M775,802.94324l15,3.60979V789.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="571" y="781.00502" width="30" height="30" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M903,802.94327l-15,3.60979V789.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M843,802.94324l15,3.60979V789.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="863.99997" y="602.00003" width="30" height="45.12245" transform="translate(1216.56153 -256.43348) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75588,654.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75593,594.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.61792,654.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.618,594.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="863.99997" y="529.00003" width="30" height="45.12245" transform="translate(1143.56153 -329.4335) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75588,581.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75593,521.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.61792,581.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.618,521.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="863.99997" y="460.00003" width="30" height="45.12245" transform="translate(1074.56153 -398.43353) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75588,512.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75593,452.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.61792,512.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.618,452.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="863.99997" y="336.00003" width="30" height="45.12245" transform="translate(950.56153 -522.43357) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75588,388.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75593,328.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.61792,388.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.618,328.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="863.99997" y="262.00003" width="30" height="45.12245" transform="translate(876.56153 -596.4336) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75588,314.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M862.75593,254.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.61792,314.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M885.618,254.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1153.99997" y="596.00003" width="30" height="30" transform="translate(1493.0004 -559.99471) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.0567,641q-1.80491-7.5-3.60979-15h17.44734q-1.5041,7.5-3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.05675,581q-1.8049,7.5-3.6098,15h17.44734q-1.5041-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1242.99997" y="662.00003" width="30" height="45.12245" transform="translate(1655.56166 -575.43346) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1241.75593,654.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1252.61792,715q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1264.618,654.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1242.99997" y="596.00003" width="30" height="45.12245" transform="translate(1589.56166 -641.43348) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1241.75588,648.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1241.75593,588.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1264.61792,648.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1264.618,588.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1153.99997" y="670.00003" width="30" height="30" transform="translate(1567.0004 -485.99468) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.05675,655q-1.8049,7.5-3.6098,15h17.44734q-1.5041-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,606.00008h21.99949V592q-10.99984.01295-21.99958.02588Q992.00021,599.013,992.0003,606.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,592h21.99948V577q-10.99983.01387-21.99957.02773Q992.00018,584.51385,992.00027,592Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="681" y="560.00502" width="24" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M952.99994,600.80528l15,3.60979V586.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M953,577.94324l15,3.60979V564.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,663.00008h21.99949V649q-10.99984.01295-21.99958.02588Q992.00021,656.013,992.0003,663.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,649h21.99948V634q-10.99983.01387-21.99957.02773Q992.00018,641.51385,992.00027,649Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="683" y="623.00502" width="22" height="36.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M954.99994,647.80528l15,3.60979V633.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,550.00008h21.99949V536q-10.99984.01295-21.99958.02588Q992.00021,543.013,992.0003,550.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,536h21.99948V521q-10.99983.01387-21.99957.02773Q992.00018,528.51385,992.00027,536Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="683" y="510.00502" width="22" height="36.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M954.99994,534.80528l15,3.60979V520.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,493.00008h21.99949V479q-10.99984.01294-21.99958.02588Q992.00021,486.013,992.0003,493.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,479h21.99948V464q-10.99983.01388-21.99957.02773Q992.00018,471.51385,992.00027,479Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="681" y="447.00502" width="24" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M952.99994,487.80528l15,3.60979V473.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M953,464.94324l15,3.60979V451.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,436.00008h21.99949V422q-10.99984.01294-21.99958.02588Q992.00021,429.013,992.0003,436.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,422h21.99948V407q-10.99983.01388-21.99957.02773Q992.00018,414.51385,992.00027,422Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="683" y="396.00502" width="22" height="36.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M954.99994,420.80528l15,3.60979V406.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,379.00008h21.99949V365q-10.99984.01294-21.99958.02588Q992.00021,372.013,992.0003,379.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,365h21.99948V350q-10.99983.01388-21.99957.02773Q992.00018,357.51385,992.00027,365Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="681" y="333.00502" width="24" height="45.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M952.99994,373.80528l15,3.60979V359.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M953,350.94324l15,3.60979V337.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,322.00008h21.99949V308q-10.99984.01294-21.99958.02588Q992.00021,315.013,992.0003,322.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,308h21.99948V293q-10.99983.01388-21.99957.02773Q992.00018,300.51385,992.00027,308Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="683" y="282.00502" width="22" height="36.12245" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M954.99994,306.80528l15,3.60979V292.96773l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,620h21.99949V605.99992q-10.99984.01295-21.99958.02588Q992.00021,613.0129,992.0003,620Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,563h21.99949V548.99992q-10.99984.01295-21.99958.02588Q992.00021,556.0129,992.0003,563Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,507h21.99949V492.99992q-10.99984.01295-21.99958.02588Q992.00021,500.01291,992.0003,507Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,450h21.99949V435.99992q-10.99984.01295-21.99958.02588Q992.00021,443.01291,992.0003,450Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,393h21.99949V378.99992q-10.99984.01295-21.99958.02588Q992.00021,386.01291,992.0003,393Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,336h21.99949V321.99992q-10.99984.01295-21.99958.02588Q992.00021,329.01289,992.0003,336Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,606.00008h-21.99948V592q10.99983.01295,21.99957.02588Q1059.9997,599.013,1059.99961,606.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,592h-21.99949V577q10.99984.01387,21.99958.02773Q1059.99974,584.51385,1059.99965,592Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="562" width="24" height="45.12245" transform="translate(1856.99983 1167.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,600.80528l-15,3.60979V586.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,577.94324l-15,3.60979V564.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,663.00008h-21.99948V649q10.99983.01295,21.99957.02588Q1059.9997,656.013,1059.99961,663.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,649h-21.99949V634q10.99984.01387,21.99958.02773Q1059.99974,641.51385,1059.99965,649Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="625" width="22" height="36.12245" transform="translate(1854.99983 1284.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1097,647.80528l-15,3.60979V633.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,550.00008h-21.99948V536q10.99983.01295,21.99957.02588Q1059.9997,543.013,1059.99961,550.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,536h-21.99949V521q10.99984.01387,21.99958.02773Q1059.99974,528.51385,1059.99965,536Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="512" width="22" height="36.12245" transform="translate(1854.99983 1058.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1097,534.80528l-15,3.60979V520.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,493.00008h-21.99948V479q10.99983.01294,21.99957.02588Q1059.9997,486.013,1059.99961,493.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,479h-21.99949V464q10.99984.01388,21.99958.02773Q1059.99974,471.51385,1059.99965,479Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="449" width="24" height="45.12245" transform="translate(1856.99983 941.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,487.80528l-15,3.60979V473.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,464.94324l-15,3.60979V451.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,436.00008h-21.99948V422q10.99983.01294,21.99957.02588Q1059.9997,429.013,1059.99961,436.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,422h-21.99949V407q10.99984.01388,21.99958.02773Q1059.99974,414.51385,1059.99965,422Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="398" width="22" height="36.12245" transform="translate(1854.99983 830.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1097,420.80528l-15,3.60979V406.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,379.00008h-21.99948V365q10.99983.01294,21.99957.02588Q1059.9997,372.013,1059.99961,379.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,365h-21.99949V350q10.99984.01388,21.99958.02773Q1059.99974,357.51385,1059.99965,365Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="335" width="24" height="45.12245" transform="translate(1856.99983 713.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,373.80528l-15,3.60979V359.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1099,350.94324l-15,3.60979V337.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,322.00008h-21.99948V308q10.99983.01294,21.99957.02588Q1059.9997,315.013,1059.99961,322.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99965,308h-21.99949V293q10.99984.01388,21.99958.02773Q1059.99974,300.51385,1059.99965,308Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1059.99992" y="284" width="22" height="36.12245" transform="translate(1854.99983 602.12747) rotate(-180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1097,306.80528l-15,3.60979V292.96773l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,620h-21.99948V605.99992q10.99983.01295,21.99957.02588Q1059.9997,613.0129,1059.99961,620Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,563h-21.99948V548.99992q10.99983.01295,21.99957.02588Q1059.9997,556.0129,1059.99961,563Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,507h-21.99948V492.99992q10.99983.01295,21.99957.02588Q1059.9997,500.01291,1059.99961,507Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,450h-21.99948V435.99992q10.99983.01295,21.99957.02588Q1059.9997,443.01291,1059.99961,450Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99961,393h-21.99948V378.99992q10.99983.01295,21.99957.02588Q1059.9997,386.01291,1059.99961,393Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1059.99948,336H1038V321.99992q10.99983.01295,21.99957.02588Q1059.99957,329.01291,1059.99948,336Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1242.99997" y="509.00003" width="30" height="45.12245" transform="translate(1502.56166 -728.43351) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1241.75588,561.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1241.75593,501.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1264.61792,561.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1264.618,501.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1153.99997" y="517.00003" width="30" height="30" transform="translate(1414.0004 -638.99474) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.0567,562q-1.80491-7.5-3.60979-15h17.44734q-1.5041,7.5-3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.05675,502q-1.8049,7.5-3.6098,15h17.44734q-1.5041-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,462.94327l-15,3.60979V449.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,490.94327l-15,3.60979V477.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,516.94327l-15,3.60979V503.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,544.94327l-15,3.60979V531.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,572.94327l-15,3.60979V559.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,601.94327l-15,3.60979V588.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M805,630.94327l-15,3.60979V617.10571q7.5,1.50411,15,3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M792.41936,664.64373q-4.02705-6.57957-8.05409-13.15912l-12.33714,12.33713,12.73369,8.47952Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M737.41936,719.64373q-4.02705-6.57957-8.05409-13.15912l-12.33714,12.33713,12.73369,8.47952Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M689.38613,742q-1.8049-7.5-3.6098-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M660.38613,742q-1.8049-7.5-3.6098-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M631.38613,742q-1.8049-7.5-3.6098-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M756.41936,701.64373q-4.02705-6.57957-8.05409-13.15912l-12.33714,12.33713,12.73369,8.47952Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M774.41936,683.64373q-4.02705-6.57957-8.05409-13.15912l-12.33714,12.33713,12.73369,8.47952Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1240.99997" y="420.00003" width="30" height="45.12245" transform="translate(1411.56166 -815.43354) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1239.75588,472.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1239.75593,412.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1262.61792,472.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1262.618,412.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1240.99997" y="339.00003" width="30" height="45.12245" transform="translate(1330.56166 -896.43357) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1239.75588,391.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1239.75593,331.56119l-3.6098,15h17.44735q-1.50411-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1262.61792,391.56125q-1.80489-7.5-3.60979-15h17.44735q-1.50411,7.5-3.00817,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1262.618,331.5612l-3.6098,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1153.99997" y="428.00003" width="30" height="30" transform="translate(1325.0004 -727.99477) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.0567,473q-1.80491-7.5-3.60979-15h17.44734q-1.5041,7.5-3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.05675,413q-1.8049,7.5-3.6098,15h17.44734q-1.5041-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1153.99997" y="346.00003" width="30" height="30" transform="translate(1243.0004 -809.9948) rotate(90.00002)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.0567,391q-1.80491-7.5-3.60979-15h17.44734q-1.5041,7.5-3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1164.05675,331q-1.8049,7.5-3.6098,15h17.44734q-1.5041-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="65" y="746.00502" width="48" height="97" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M337,789.94324l15,3.60979V776.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M337,834.94324l15,3.60979V821.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M337,811.94324l15,3.60979V798.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M337,767.94324l15,3.60979V754.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M414.99994,789.94324,400,793.553V776.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M414.99994,834.94324,400,838.553V821.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M414.99994,811.94324,400,815.553V798.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M414.99994,767.94324,400,771.553V754.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M359.05675,733q-1.80491,7.5-3.6098,15h17.44734q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M382.05675,733q-1.80491,7.5-3.6098,15h17.44734q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M392.28449,860q1.8049-7.5,3.6098-15H378.447q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M369.28449,860q1.8049-7.5,3.6098-15H355.447q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="64" y="907.00502" width="48" height="97" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M336,950.94324l15,3.60979V937.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M336,995.94324l15,3.60979V982.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M336,972.94324l15,3.60979V959.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M336,928.94324l15,3.60979V915.10569l-15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M413.99994,950.94324,399,954.553V937.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M413.99994,995.94324,399,999.553V982.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M413.99994,972.94324,399,976.553V959.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M413.99994,928.94324,399,932.553V915.10569l15,3.00816Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M358.05675,894q-1.80491,7.5-3.6098,15h17.44734q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M381.05675,894q-1.80491,7.5-3.6098,15h17.44734q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M391.28449,1021q1.8049-7.5,3.6098-15H377.447q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M368.28449,1021q1.8049-7.5,3.6098-15H354.447q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="1193.99989" y="159.99994" width="48" height="97" transform="translate(2148.99978 415.00491) rotate(180)" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1256.99994,215.05671l-15-3.6098v17.44735q7.5-1.50411,15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1256.99994,170.05671l-15-3.6098v17.44735q7.5-1.50411,15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1256.99994,193.05671l-15-3.6098v17.44735q7.5-1.50411,15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1256.99994,237.05671l-15-3.6098v17.44735q7.5-1.50411,15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1178.99995,215.05671l15-3.6098v17.44735q-7.5-1.50411-15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1178.99995,170.05671l15-3.6098v17.44735q-7.5-1.50411-15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1178.99995,193.05671l15-3.6098v17.44735q-7.5-1.50411-15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1178.99995,237.05671l15-3.6098v17.44735q-7.5-1.50411-15-3.00817Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1234.94314,272q1.8049-7.5,3.6098-15H1221.1056q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1211.94314,272q1.8049-7.5,3.6098-15H1198.1056q1.5041,7.5,3.00816,15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1201.7154,145q-1.8049,7.5-3.60981,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1224.7154,145q-1.8049,7.5-3.60981,15h17.44735q-1.50409-7.5-3.00816-15Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <text transform="translate(431.06 584.74965) rotate(-90)" style="font-size:32px;font-family:MyriadPro-Regular, Myriad Pro"><tspan style="letter-spacing:-0.006988525390625em">Б</tspan><tspan x="17.24805" y="0">АР</tspan></text>
            <text transform="translate(95.45215 818.00502) rotate(-90) scale(1.07799 1)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">1203</text>
            <text transform="translate(94.45215 980.006) rotate(-90) scale(1.07802 1)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">1202</text>
            <text transform="translate(938.45215 230.006) rotate(-90) scale(1.05457 1)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">1201</text>
            <text transform="translate(586.02148 134.28139)" style="font-size:32px;font-family:MyriadPro-Regular, Myriad Pro">М</text>
            <text transform="translate(762.02148 134.28139)" style="font-size:32px;font-family:MyriadPro-Regular, Myriad Pro">Ж</text>
            <text transform="translate(300.06396 800.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">201</text>
            <text transform="translate(370.06396 800.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">202</text>
            <text transform="translate(437.06396 801.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">203</text>
            <text transform="translate(505.06396 801.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">204</text>
            <text transform="translate(574.06396 801.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">205</text>
            <text transform="translate(559.61377 877.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">602</text>
            <text transform="translate(484.61377 878.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">604</text>
            <text transform="translate(409.61377 878.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">606</text>
            <text transform="translate(334.61377 877.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">608</text>
            <text transform="translate(559.61377 929.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">601</text>
            <text transform="translate(484.61377 929.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">603</text>
            <text transform="translate(409.61377 929.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">605</text>
            <text transform="translate(333.61377 930.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">609</text>
            <text transform="translate(611.61377 1024.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">406</text>
            <text transform="translate(542.61377 1024.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">405</text>
            <text transform="translate(473.61377 1024.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">403</text>
            <text transform="translate(376.61377 1024.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">402</text>
            <text transform="translate(308.61377 1024.71645) rotate(-90)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">401</text>
            <text transform="translate(576.06396 629.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">415</text>
            <text transform="translate(576.06396 556.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">414</text>
            <text transform="translate(575.06396 487.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">413</text>
            <text transform="translate(576.06396 363.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">412</text>
            <text transform="translate(576.06396 289.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">411</text>
            <text transform="translate(870.06396 364.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">209</text>
            <text transform="translate(870.06396 446.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">208</text>
            <text transform="translate(870.06396 534.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">207</text>
            <text transform="translate(869.06396 614.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">206</text>
            <text transform="translate(869.06396 688.49428)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">101</text>
            <text transform="translate(953.06396 365.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">410</text>
            <text transform="translate(953.06396 446.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">409</text>
            <text transform="translate(955.06396 536.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">408</text>
            <text transform="translate(955.06396 623.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">407</text>
            <text transform="translate(955.06396 690.49428)" style="font-size:21px;font-family:MyriadPro-Regular, Myriad Pro">301</text>
            <text transform="translate(700.07178 653.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">417</text>
            <text transform="translate(790.07178 653.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">416</text>
            <text transform="translate(698.07178 595.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">501</text>
            <text transform="translate(790.07178 595.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">502</text>
            <text transform="translate(700.07178 540.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">419</text>
            <text transform="translate(790.07178 540.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">418</text>
            <text transform="translate(698.07178 482.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">503</text>
            <text transform="translate(790.07178 481.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">504</text>
            <text transform="translate(700.07178 425.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">421</text>
            <text transform="translate(790.07178 427.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">420</text>
            <text transform="translate(698.07178 368.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">505</text>
            <text transform="translate(790.07178 368.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">506</text>
            <text transform="translate(700.07178 312.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">423</text>
            <text transform="translate(788.07178 312.11098) rotate(-90)" style="font-size:16px;font-family:MyriadPro-Regular, Myriad Pro">422</text>
            <rect x="313" y="840.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.0003,842.99984h21.99949v14.00007q-10.99984-.01293-21.99958-.02587Q578.00021,849.98694,578.0003,842.99984Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.00027,856.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q578.00018,864.48606,578.00027,856.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q578.00018,879.48606,578.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.0003,842.99992h21.99949V857q-10.99984-.01295-21.99958-.02588Q630.00021,849.987,630.0003,842.99992Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.00027,857h21.99948v15q-10.99983-.01387-21.99957-.02773Q630.00018,864.48615,630.00027,857Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q630.00018,879.48606,630.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="388" y="840.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.0003,842.99984h21.99949v14.00007q-10.99984-.01293-21.99958-.02587Q653.00021,849.98694,653.0003,842.99984Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.00027,856.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q653.00018,864.48606,653.00027,856.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q653.00018,879.48606,653.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.0003,842.99992h21.99949V857q-10.99984-.01295-21.99958-.02588Q705.00021,849.987,705.0003,842.99992Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.00027,857h21.99948v15q-10.99983-.01387-21.99957-.02773Q705.00018,864.48615,705.00027,857Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q705.00018,879.48606,705.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="463" y="840.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.0003,842.99984h21.99949v14.00007q-10.99984-.01293-21.99958-.02587Q728.00021,849.98694,728.0003,842.99984Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.00027,856.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q728.00018,864.48606,728.00027,856.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q728.00018,879.48606,728.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.0003,842.99992h21.99949V857q-10.99984-.01295-21.99958-.02588Q780.00021,849.987,780.0003,842.99992Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.00027,857h21.99948v15q-10.99983-.01387-21.99957-.02773Q780.00018,864.48615,780.00027,857Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q780.00018,879.48606,780.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="538" y="840.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.0003,842.99984h21.99949v14.00007q-10.99984-.01293-21.99958-.02587Q803.00021,849.98694,803.0003,842.99984Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.00027,856.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q803.00018,864.48606,803.00027,856.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q803.00018,879.48606,803.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.0003,842.99992h21.99949V857q-10.99984-.01295-21.99958-.02588Q855.00021,849.987,855.0003,842.99992Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.00027,857h21.99948v15q-10.99983-.01387-21.99957-.02773Q855.00018,864.48615,855.00027,857Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.00027,871.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q855.00018,879.48606,855.00027,871.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="313" y="893.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.0003,937.00016h21.99949V923.00009q-10.99984.01293-21.99958.02587Q578.00021,930.01307,578.0003,937.00016Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.00027,923.00009h21.99948v-15q-10.99983.01386-21.99957.02773Q578.00018,915.51394,578.00027,923.00009Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M578.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q578.00018,900.48606,578.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.0003,937.00008h21.99949V923q-10.99984.01295-21.99958.02588Q630.00021,930.013,630.0003,937.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.00027,923h21.99948V908q-10.99983.01387-21.99957.02773Q630.00018,915.51385,630.00027,923Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M630.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q630.00018,900.48606,630.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="388" y="893.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.0003,937.00016h21.99949V923.00009q-10.99984.01293-21.99958.02587Q653.00021,930.01307,653.0003,937.00016Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.00027,923.00009h21.99948v-15q-10.99983.01386-21.99957.02773Q653.00018,915.51394,653.00027,923.00009Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M653.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q653.00018,900.48606,653.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.0003,937.00008h21.99949V923q-10.99984.01295-21.99958.02588Q705.00021,930.013,705.0003,937.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.00027,923h21.99948V908q-10.99983.01387-21.99957.02773Q705.00018,915.51385,705.00027,923Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M705.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q705.00018,900.48606,705.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="463" y="893.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.0003,937.00016h21.99949V923.00009q-10.99984.01293-21.99958.02587Q728.00021,930.01307,728.0003,937.00016Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.00027,923.00009h21.99948v-15q-10.99983.01386-21.99957.02773Q728.00018,915.51394,728.00027,923.00009Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M728.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q728.00018,900.48606,728.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.0003,937.00008h21.99949V923q-10.99984.01295-21.99958.02588Q780.00021,930.013,780.0003,937.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.00027,923h21.99948V908q-10.99983.01387-21.99957.02773Q780.00018,915.51385,780.00027,923Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M780.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q780.00018,900.48606,780.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <rect x="538" y="893.00502" width="30" height="43" style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.0003,937.00016h21.99949V923.00009q-10.99984.01293-21.99958.02587Q803.00021,930.01307,803.0003,937.00016Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.00027,923.00009h21.99948v-15q-10.99983.01386-21.99957.02773Q803.00018,915.51394,803.00027,923.00009Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M803.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q803.00018,900.48606,803.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.0003,937.00008h21.99949V923q-10.99984.01295-21.99958.02588Q855.00021,930.013,855.0003,937.00008Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.00027,923h21.99948V908q-10.99983.01387-21.99957.02773Q855.00018,915.51385,855.00027,923Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M855.00027,892.99991h21.99948v15q-10.99983-.01386-21.99957-.02773Q855.00018,900.48606,855.00027,892.99991Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.00027,293h21.99948V278q-10.99983.01388-21.99957.02773Q992.00018,285.51385,992.00027,293Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.00027,293h21.99948V278q-10.99983.01388-21.99957.02773Q1038.00018,285.51385,1038.00027,293Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,350h21.99949V335.99992q-10.99984.01295-21.99958.02588Q992.00021,343.01291,992.0003,350Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,350h21.99949V335.99992q-10.99985.01295-21.99958.02588Q1038.00021,343.01291,1038.0003,350Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,407h21.99949V392.99992q-10.99984.01295-21.99958.02588Q992.00021,400.01291,992.0003,407Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,407h21.99949V392.99992q-10.99985.01295-21.99958.02588Q1038.00021,400.01291,1038.0003,407Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,464h21.99949V449.99992q-10.99984.01295-21.99958.02588Q992.00021,457.01291,992.0003,464Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,464h21.99949V449.99992q-10.99985.01295-21.99958.02588Q1038.00021,457.01291,1038.0003,464Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,521h21.99949V506.99992q-10.99984.01295-21.99958.02588Q992.00021,514.01291,992.0003,521Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,521h21.99949V506.99992q-10.99985.01295-21.99958.02588Q1038.00021,514.01291,1038.0003,521Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,577h21.99949V562.99992q-10.99984.01295-21.99958.02588Q992.00021,570.0129,992.0003,577Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,577h21.99949V562.99992q-10.99985.01295-21.99958.02588Q1038.00021,570.0129,1038.0003,577Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M992.0003,634h21.99949V619.99992q-10.99984.01295-21.99958.02588Q992.00021,627.0129,992.0003,634Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
            <path d="M1038.0003,634h21.99949V619.99992q-10.99985.01295-21.99958.02588Q1038.00021,627.0129,1038.0003,634Z" transform="translate(-287 -1.99498)" style="fill:#b3b3b3;stroke:#000;stroke-miterlimit:10;stroke-width:1.5px" />
        </g>
        @foreach (var m in Model)
        {
            <a class="tablelink"
               tableid="@m.Id">
                <path d="@m.SvgPath" fill="lime" opacity="0.5" />
            </a>
        }

    </svg>
</div>
<script type="text/javascript">
    $('.tablelink').click(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Step3", "Booking")",
                data: { id: $(this).attr('tableid'), date: '@date.ToString()', persons: @persons},
                dataType: "text",
                success: function (msg) {
                    console.log(msg);
                    $("#steplayout").replaceWith(msg);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
    });
</script>
