@model IEnumerable<Restaurant.Models.Data.TableOrder>
<table class="table table-striped">
    <thead class="bg-secondary text-light">
        <tr>
            <td scope="col">Стол</td>
            <td scope="col">Гости</td>
            <td scope="col">Состояние</td>
            <td scope="col">Время заказа</td>          
            <td scope="col">-</td>          
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.TableId</td>
            <td>@d.Persons</td>
            @if (d.Active == true)
            {
                <td><span style="color: green">Активен</span></td>
            }
            else
            {
                <td><span style="color: red">Не активен</span></td>
            }
            <td>@d.OrderTime</td>
            <td>
                @if (@d.Active == true)
                {
                    <a type="button" class="btn-link text-dark"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace"
                       href="@Url.Action("CloseTableOrder", "Users", new { @id = d.Id })"><u>Отменить</u></a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>