@using Newtonsoft.Json;
@model IEnumerable<Restaurant.Models.Data.DishOrder>
    <div class="navbar d-sm-inline-flex flex-sm-row">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link">Все</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Запланированы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Сегодня</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Закрытые</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Активные</a>
            </li>
        </ul>
    </div>
<table class="table table-striped">
    <thead class="bg-secondary text-light">
        <tr>
            <td scope="col">№</td>
            <td scope="col">Состояние</td>
            <td scope="col">Тип</td>
            <td scope="col">Стол</td>
            <td scope="col">Время</td>
            <td scope="col">Комментарий</td>
            <td scope="col" colspan="2"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                @if (d.Active == true)
                {
                    <td><span style="color: green">Активен</span></td>
                }
                else
                {
                    <td><span style="color: red">Закрыт</span></td>
                }
                @if (d.OrderType == "out")
                {
                    <td>Вынос</td>
                }
                else
                {
                    <td>Стол</td>
                }
                <td>@d.TableId</td>
                <td>@d.OrderTime</td>
                <td>
                    @d.Comment
                </td>
                <td>                  
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Блюда
                    </a>
                    <div class="collapse" id="collapse">
                        <table>
                            @{var res = JsonConvert.DeserializeObject<List<Item>>(d.OrderListJson);
                                foreach(var r in res)
                                {
                                    <tr>
                                        <td>@r.Dish.Name</td>
                                        <td>@r.Dish.Price</td>
                                        <td>@r.Count</td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        @{ 
                                            var total = res.Sum(r => (r.Dish.Price * r.Count));
                                        } 
                                        <td>@total</td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                    
                    
                </td>
                <td>
                    @if (@d.Active == true)
                    {
                        <a tableid="@d.Id" class="cancelbtn btn-link text-dark hand-pointer"> otmenit</a>
                        @*<a type="button" class="cancelbtn btn-link text-dark"
                           data-ajax="true"
                           data-ajax-update="#table"
                           data-ajax-mode="replace"
                           href="@Url.Action("CloseDishOrder", "Users", new { @id = d.Id })"><u>Отменить</u></a>*@
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подвтержжение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы действительно хотите отменить заказ?
                Откатить отмену нельзя
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" id="tableId" tableId="tableId" class="accept-modal btn btn-primary">Да</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.cancelbtn').click(function (e) {
        $(".modal-footer #tableId").val($(this).attr('tableid'));
        $('#cancel-modal').modal('show');

    });

    $('.accept-modal').click(function (e) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("CloseDishOrder", "Users")",
            data: { id: $('#tableId').val()},
            dataType: "text",
            success: function (msg) {
                console.log(msg);
                $('#cancel-modal').modal('hide');
                $("#table").html(msg);
                $(".modal-backdrop").remove();
                $("body").removeClass("modal-open");
            },
            error: function (req, status, error) {
                console.log(msg);
                $('#cancel-modal').modal('hide');
                $(".modal-backdrop").remove();
                $("body").removeClass("modal-open");
            }
        });
    });
</script>

