@using Newtonsoft.Json;
@model IEnumerable<Restaurant.Models.Data.DishOrder>
    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="SortOrderedDishes"
                       asp-controller="Users"
                       asp-route-type="all"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace">Все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="SortOrderedDishes"
                       asp-controller="Users"
                       asp-route-type="future"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace">Запланированы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="SortOrderedDishes"
                       asp-controller="Users"
                       asp-route-type="today"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace">Сегодня</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="SortOrderedDishes"
                       asp-controller="Users"
                       asp-route-type="active"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace">Активные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="SortOrderedDishes"
                       asp-controller="Users"
                       asp-route-type="closed"
                       data-ajax="true"
                       data-ajax-update="#table"
                       data-ajax-mode="replace">Закрытые</a>
                </li>
            </ul>
        </div>
    </nav >
    <table class="table table-striped table-hover">
        <thead class="bg-secondary text-light fix-header">
            <tr>
                <td scope="col" class="text-center">№</td>
                <td scope="col" class="text-center">Состояние</td>
                <td scope="col" class="text-center">Тип</td>
                <td scope="col" class="text-center">Стол</td>
                <td scope="col" class="text-center">Время</td>
                <td scope="col" class="text-center">Комментарий</td>
                <td scope="col" class="text-center" colspan="2"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td class="text-center border-right">@d.Id</td>
                    @if (d.Active == true)
                    {
                        <td class="text-center"><span style="color: green">Активен</span></td>
                    }
                    else
                    {
                        <td class="text-center"><span style="color: red">Закрыт</span></td>
                    }
                    @if (d.OrderType == "out")
                    {
                        <td class="text-center">Вынос</td>
                    }
                    else
                    {
                        <td class="text-center">Стол</td>
                    }
                    @if (d.TableId == 0)
                    {
                        <td class="text-center">-</td>
                    }
                    else
                    {
                        <td class="text-center">@d.TableId</td>
                    }
                    <td class="text-center">@d.OrderTime</td>
                    <td>
                        @d.Comment
                    </td>
                    <td class="text-center border-left">
                        <a order-id="@d.Id" class="show-dishes btn btn-link text-dark hand-pointer">
                            <u>Блюда</u>
                        </a>
                    </td>
                    <td class="text-center border-left">
                        @if (@d.Active == true)
                        {
                            <a tableid="@d.Id" class="cancelbtn btn-link text-dark hand-pointer">
                                <u>Отменить</u>
                            </a>
                        }
                    </td>
                </tr>
                <tr class="collapse" id="@d.Id">
                    <td colspan="8" class="pt-0">
                        <table class="container-fluid">
                            @{var res = JsonConvert.DeserializeObject<List<Item>>(d.OrderListJson);
                                foreach (var r in res)
                                {
                                    <tr class="font-italic">
                                        <td style="color: #E22104">@r.Dish.Name</td>
                                        <td>@r.Count</td>
                                        <td>
                                            @{ 
                                                decimal sum = r.Dish.Price * r.Count;
                                            }
                                            @Math.Round(sum, 2) руб.
                                        </td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        @{
                                            var total = res.Sum(r => (r.Dish.Price * r.Count));
                                        }
                                        <td colspan="2" class="text-right">Сумма:</td>
                                        <td class="text-left">@Math.Round(total, 2) руб.</td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подвтержжение</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите отменить заказ?
                    Откатить отмену нельзя
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" id="tableId" tableId="tableId" class="accept-modal btn btn-primary">Да</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $('.cancelbtn').click(function (e) {
        $(".modal-footer #tableId").val($(this).attr('tableid'));
        $('#cancel-modal').modal('show');

    });

        $('.show-dishes').click(function (e) {
            var id = $(this).attr('order-id');
            var element = $('body').find("#" + id);
            if (element.collapse({ toggle: true})) {
                element.collapse('show')
            }
            if (element.collapse({ toggle: false})) {
                element.collapse('hide')
            }
        });

    $('.accept-modal').click(function (e) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("CloseDishOrder", "Users")",
            data: { id: $('#tableId').val()},
            dataType: "text",
            success: function (msg) {
                console.log(msg);
                $('#cancel-modal').modal('hide');
                $("#table").html(msg);
                $(".modal-backdrop").remove();
                $("body").removeClass("modal-open");
            },
            error: function (req, status, error) {
                console.log(msg);
                $('#cancel-modal').modal('hide');
                $(".modal-backdrop").remove();
                $("body").removeClass("modal-open");
            }
        });
    });
    </script>

