@model IEnumerable<Restaurant.Models.Data.User>
@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "Список пользователей";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <div class="row my-3">
        <h2 class="col-sm-4 pr-0"> Профиль администратора </h2>
        <div class="col-md container-fluid p-0 m-0"><hr class="mt-4 hr-style-1" /></div>
    </div>
    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm bg-light">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-link active">
                    <a asp-action="Create">Добавить пользователя</a>
                </li>
                <li class="nav-link active">
                    <a asp-action="UserList" asp-controller="Roles">Работа с ролями</a>
                </li>
                <li class="nav-link active">
                    <a asp-action="Index" asp-controller="Infrastructure">Работа с блюдами</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="vh-100" style="overflow-x: auto;">
        <table class="table table-striped table-hover">
            <thead class="bg-secondary text-light fix-header">
                <tr>
                    <th>Email</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.PersonName</td>
                        <td>@user.PersonSurname</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <a class="btn btn-link text-dark" asp-action="Edit" asp-route-id="@user.Id">
                                    <u>
                                        Изменить
                                    </u>
                                </a>
                                <a class="btn btn-link text-dark" asp-action="ChangePassword" asp-route-id="@user.Id">
                                    <u>
                                        Сменить пароль
                                    </u>
                                </a>
                                <button type="submit" class="btn btn-link text-dark">
                                    <u>
                                        Удалить
                                    </u>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm mt-3">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-danger" type="submit" value="Выйти из профиля" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>
}
else if (User.Identity.IsAuthenticated && User.IsInRole("employee"))
{
    <div class="row my-3">
        <h2 class="col-sm-6 pr-0"> Активность пользователей </h2>
        <div class="col-md container-fluid p-0 m-0"><hr class="mt-4 hr-style-1" /></div>
    </div>
    <ul class="nav nav-tabs bg-light">
        <li class="nav-item">
            <a id="dishtab" class="nav-link px-4"
               data-ajax="true"
               data-ajax-update="#table"
               data-ajax-mode="replace"
               href="@Url.Action("OrderedDishesPartial","Users")">Заказы</a>
        </li>
        <li class="nav-item">
            <a id="tabletab" class="nav-link px-4"
               data-ajax="true"
               data-ajax-update="#table"
               data-ajax-mode="replace"
               href="@Url.Action("OrderedTablesPartial","Users")">Столы</a>
        </li>
    </ul>

    <div style="overflow:auto; overflow-y:auto" class="container border my-2 vh-100" id="table">

    </div>

    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm mt-3">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-danger" type="submit" value="Выйти из профиля" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <script type="text/javascript">
        $('#dishtab').click(function (e) {
            $('#dishtab').addClass("active");
            $('#tabletab').removeClass("active");
        });

        $('#tabletab').click(function (e) {
            $('#tabletab').addClass("active");
            $('#dishtab').removeClass("active");
        });

         $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("OrderedDishesPartial", "Users")",
                success: function (msg) {
                    console.log(msg);
                    $('#dishtab').addClass("active");
                    $("#table").html(msg);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });
    </script>
}
else if (User.Identity.IsAuthenticated && User.IsInRole("user"))
{
    <div class="row my-3">
        <h2 class="col-sm-3 pr-0"> Ваша активность </h2>
        <div class="col-md container-fluid p-0 m-0"><hr class="mt-4 hr-style-1" /></div>
    </div>
    <ul class="nav nav-tabs bg-light">
        <li class="nav-item">
            <a id="dishtab" class="nav-link px-4"
               data-ajax="true"
               data-ajax-update="#table"
               data-ajax-mode="replace"
               href="@Url.Action("OrderedDishesPartial","Users")">Заказы</a>
        </li>
        <li class="nav-item">
            <a id="tabletab" class="nav-link px-4"
               data-ajax="true"
               data-ajax-update="#table"
               data-ajax-mode="replace"
               href="@Url.Action("OrderedTablesPartial","Users")">Столы</a>
        </li>
    </ul>
    <div style="overflow:auto; overflow-y:auto" class="container border my-2 vh-100" id="table">

    </div>

    <div class="row my-3">
        <h2 class="col-sm-5 pr-0"> Управление профилем </h2>
        <div class="col-md container-fluid p-0 m-0"><hr class="mt-4 hr-style-1" /></div>
    </div>
    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="EditFromUserProfile"
                       asp-controller="Users">Изменить профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       asp-action="ChangePasswordFromUserProfile"
                       asp-controller="Users">Сменить пароль</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="col navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="navbar d-inline-flex flex-sm-row">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input class="btn btn-danger" type="submit" value="Выйти из профиля" />
                    </form>
                </li>
            </ul>
        </div>
    </nav>


    <script type="text/javascript">
        $('#dishtab').click(function (e) {
            $('#dishtab').addClass("active");
            $('#tabletab').removeClass("active");
        });

        $('#tabletab').click(function (e) {
            $('#tabletab').addClass("active");
            $('#dishtab').removeClass("active");
        });

         $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("OrderedDishesPartial", "Users")",
                success: function (msg) {
                    console.log(msg);
                    $('#dishtab').addClass("active");
                    $("#table").html(msg);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });
    </script>
}
