@model IEnumerable<Restaurant.Models.Data.Dish>
@{
    ViewBag.Title = "Работа с блюдами";
}

<nav class="col navbar navbar-expand-sm navbar-toggleable-sm bg-light">
    <div class="navbar d-inline-flex flex-sm-row">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-link active">
                <a asp-action="AddDish">Добавить блюдо</a>
            </li>
            <li class="nav-link active">
                <a asp-action="Index" asp-controller="Users">Назад</a>
            </li>
        </ul>
    </div>
</nav>
<div class="vh-100" style="overflow-x: auto">
    <table class="table table-striped">
        <thead class="bg-secondary text-light">
            <tr>
                <th>№</th>
                <th>Фотография</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model)
            {
                <tr>
                    <td class="border-right">@dish.Id</td>
                    <td><img src="@dish.Photo" style="height: 30px; width: 50px;" /></td>
                    <td>@dish.Name</td>
                    <td>@dish.Category</td>
                    <td>@dish.Price руб.</td>
                    <td class="border-left">
                        <form asp-action="DeleteDish" asp-route-id="@dish.Id" method="post">
                            <a class="btn btn-link text-dark" asp-action="EditDish" asp-route-id="@dish.Id">
                                <u>
                                    Изменить
                                </u>
                            </a>
                            <button type="submit" class="btn btn-link text-dark">
                                <u>
                                    Удалить
                                </u>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>